body {
    font-family: sans-serif;
    font-weight: 700;
    text-align: center;
}

div {
    margin: 10px;
    border-radius: 25px 0px;
    justify-content: center;
    border: 1px;
    box-shadow: 0px 0px 15px silver;
}

#container-top {
    border-radius: 25px 25px 0px 0px;
    height: 25vh;
    width: 97vw;
    display: block;
    justify-content: center;
}

.block {
    width: 97vw;
    display: flex;
}

.buttons {
    height: 25%;
    width: 10vw;
    text-align: center;
    border-radius: 20px 20px;
}

.buttons:hover {
    background-color: rgb(241, 238, 238)
}

.buttons:active {
    background-color: rgb(241, 238, 238);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#content {
    min-height: 40vh;
    max-height: fit-content;
    display: flex;
    flex-wrap: wrap;
    width: 97vw;
    gap: 10px;
}

span {
    min-height: 40vh;
    max-height: fit-content;
    display: flex;
    flex-wrap: wrap;
    width: 97vw;
    gap: 10px;
}

.item-menu {
    height: 20vh;
    width: 30vw;
    border-radius: 20px 20px;
    flex-grow: 1;
}

#foot-note {
    border-radius: 0px 0px 25px 25px;
    width: 97vw;
    position: absolute;
    bottom: 0;
    right: 0;
}